* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("./images/casey-horner-RmoWqDCqN2E-unsplash.jpg");
  background-size:contain;
  font-family: "Quicksand", sans-serif;
}

header {
  background-color: rgb(19, 17, 17);
  color: yellow;
  height: 150px;
  font-family: 'Russo One', sans-serif;
}

header h1 {
  text-align: center;
}

.openCartBtn {
  padding:0.5rem;
  margin-left:1rem;
}

footer {
  background-color: rgb(236, 236, 235);
}

main {
  margin: 0.7rem;
}

section h2 {
  color: yellow;
}

#starShipsContainer, #vehiclesContainer, #planetsContainer{
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

#cartWindow {
   height: 75vh;
  width: 100vw;
  background-color: rgb(19, 17, 17);
  color: yellow;
  position: absolute;
  display: none;
  font-size: 0.8rem;
  overflow: scroll;
}

#cartWindow.showCart {
  display: unset;
}

.cartContainer h3{
text-align: center;
letter-spacing: 0.5rem;
margin: 0.8rem 0 0.8rem 0;
}

.cardInCart {
  display:flex;
  justify-content: space-between;
  margin:0 1rem 0 1rem;
  border-bottom: 0.1rem solid;
  letter-spacing: 0.1rem;
  padding:0.5rem 0 0.5rem 0;
}

.cardInCart p{
  width: 30%;
}

.total {
  margin:1rem;
  font-size: 1rem;
}

.starShipCard, .vehicleCard, .planetCard{
  display: block;
  display: flex;
  flex-direction: column;
  background-color: rgb(19, 17, 17);
  color: yellow;
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
  border: 2px solid white;
  flex-basis: 46%;
  padding: 10px;
}

/* .starShipCard:hover, .vehicleCard:hover, .planetCard:hover {
  background-color: rgb(91, 90, 90);
} */

.addToCartBtn .moreInfoBtn {
  width: 100%;
  padding: 8px;
}

 #showMorePlanetsBtn{
  width: 100%;
  padding: 8px;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 640px) {
  .starShipCard, .vehicleCard, .planetCard{
      flex-basis: 50%;
}
main {
  margin: 2rem;
}
}

@media only screen and (min-width: 960px) {
  .starShipCard, .vehicleCard, .planetCard{
      flex-basis: 33.333%;
}
main {
  margin: 3rem;
}
}

@media only screen and (min-width: 1280px) {
  .starShipCard, .vehicleCard, .planetCard{
      flex-basis: 20%;
}
main {
  margin: 5rem;
}
}
