* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

header {
  background-color: rgb(45, 40, 40);
  color: yellow;
}

header h1 {
  text-align: center;
}

footer {
  background-color: rgb(236, 236, 235);
}

#starShipsContainer, #vehiclesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 90%;
  /* margin: 0 auto; */
}

#cart {
  height: 75vh;
  width: 80vw;
  background-color: rgb(19, 17, 17);
  color: yellow;
  position: absolute;
  display: none;
}

#cart.showCart {
  display: unset;
}

.starShipCard, .vehicleCard {
  display: flex;
  flex-direction: column;
  background-color: rgb(19, 17, 17);
  color: yellow;
  border: 3px solid white;
  display: block;
  flex-basis: 100%;
  padding: 10px;
}

.starShipCard:hover, .vehicleCard:hover {
  background-color: rgb(91, 90, 90);
}

.addToCartBtn .moreInfoBtn {
  width: 100%;
  padding: 8px;
}

#showMoreSpaceShipsBtn, #showMoreVehiclesBtn{
  width: 100%;
  padding: 8px;
}

.hidden {
  display: none;
}

@media screen and (min-width: 600px) {
  .card {
    flex-basis: 33%;
  }
}
